:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: #e5e5e5;
}

/* logo */

.header-logotype,
.footer-logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header-logotype {
  color: #000000;
}

.header-logo,
.footer-logo {
  color: var(--accent-color);
}
.header-logotype:hover,
.header-logotype:focus,
.footer-logotype:hover,
.footer-logotype:focus {
  color: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* header */

.header {
  background-color: #ffffff;
}
.nav {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.header-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.header-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
/* contact */
.header-contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.header-contact:hover,
.header-contact:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
/* section hero*/

.hero {
  background-color: #2f303a;
  text-align: center;
}
.footer {
  background-color: #2f303a;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* buttons */

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.filter-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* section features */
.features {
  margin-top: 94px;
  margin-bottom: 0;
}
.features-list {
  margin: 0;
  padding: 0;
}

.features-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  margin-bottom: 0;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* section work */

.work {
  margin-top: 94px;
  margin-bottom: 94px;
}
.work-list {
  margin: 0;
  padding: 0;
}
.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.work-img {
  display: block;
}

/* section comand */

.comand {
  background-color: #f5f4fa;
  margin-top: 94px;
  margin-bottom: 0;
}
.comand-list {
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 94px;
}
.comand-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.comand-title-man {
  margin-top: 30px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03e;
  color: var(--title-text-color);
}
.comand-text {
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.comand-img {
  display: block;
}

/* footer */

.footer-logotype {
  margin-top: 60px;
  margin-bottom: 0;
  color: #ffffff;
}
.footer-adress {
  margin-top: 20px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-list {
  margin: 0;
  padding-left: 0;
  padding-bottom: 60px;
}
.footer-item {
  margin-top: 9px;
  margin-bottom: 0;
}

/* ***portfolio*** */

.portfolio {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}
.filter {
  margin-top: 94px;
  margin-bottom: 94px;
}
.filter-btn {
  border-radius: 4px;
  padding: 6px 22px;
}
.filter-list {
  margin-top: 0;
  margin-bottom: 34px;
  padding-left: 0;
}
.progect-list {
  margin: 0;
  padding: 0;
}
/* section progect */
.progect-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.progect-text {
  margin-top: 4px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.progect-img {
  display: block;
}
